<div class="mdl-tabs__panel is-active" id="acordes">
	<% Acorde.all.each do |acorde|%>
	<% mio = 0%>
	<% while mio < 100 %>
	<% mio += 1%>
	<div class="acorde bg-blue-gray">
		<span class="acorde-nombre block"><%= link_to acorde.nombre, acorde %></span> 
		<span class="album-nombre block"><%= acorde.album.nombre %></span>
	</div>
	<% end%>

	<%end%>
</div>