<div class="mdl-tabs__panel is-active mdl-shadow--2dp" id="acordes">
	<% @cantante.acordes.each do |acorde|%>
	<% mio = 0%>
	<% while mio < 100 %>
	<% mio += 1%>
	<div class="acorde bg-blanco">
		<span class="acorde-nombre block"><%= link_to acorde.nombre, cantante_acorde_path(@cantante,acorde) , class:"link-resource" %></span> 
		<span class="info-link block"><%= acorde.album.nombre %></span>
	</div>
	<% end%>

	<%end%>
</div>