<div class="mdl-tabs__panel is-active" id="acordes">
	<div class="mdl-grid">
		<% @acordes.each do |acorde|%>
		<% mio = 0%>
		<% while mio < 100 %>
			<% mio += 1%>
			<div class="mdl-cell mdl-cell--12-col acorde">
			<span class="acorde-nombre block"><%= link_to acorde.nombre, acorde %></span> 
			<span class="album-nombre block"><%= acorde.album.nombre %></span>
		</div>
		<% end%>
		
		<%end%>
	</div>
</div>