<div class="mdl-tabs__panel " id="albums">
	<div class="mdl-grid bg-blanco">
		<% @albumes.each do |album|%>
		<% mio = 0%>
		<% while mio < 25 %>
		<% mio += 1%>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone album mdl-shadow--2dp">
		<%= link_to cantante_album_path(@cantante, album) do %>
			<img src="http://s10.postimg.org/tmmfqxfhl/Cover.jpg">
			<span class="album-info">
				<span><%= album.nombre %></span>
			</span>
			<% end%>
		</div>
		<% end%>
		<%end%>
	</div>
</div>