<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title bg-indigo">
			<h2 class="mdl-card__title-text"><%= @cantante.nombre %></h2>
		</div>
		<div class="mdl-card__media">
			<img src="https://tiempodeavivamiento.files.wordpress.com/2014/05/danilo-montero-4-610x250.jpg" width="100%" height="auto" alt="<%= @cantante.nombre %>" >
		</div>
	  <div class="mdl-card__supporting-text">
	  	Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	  	Mauris sagittis pellentesque lacus eleifend lacinia...
 	 </div>
	</div>
	
</div>

<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect ">
			<div class="mdl-tabs__tab-bar">
				<a href="#acordes" class="mdl-tabs__tab is-active">Acordes</a>
				<a href="#albums" class="mdl-tabs__tab">Albumes</a>
			</div>
			<%= render 'cantantes/colecciones/acordes' %>
			<%= render 'cantantes/colecciones/albums' %>
		</div>

	</div>
</div>