<div class="mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--10-col bg-blanco mdl-grid mdl-shadow--2dp relative">
	<div class="buton-back">
		<%= link_to cantante_song_path(@cantante, @song), class:"mdl-button mdl-js-button mdl-button--accent"  do%>
		<%= material_icon.chevron_left.md_36 %>
		<%end%>
	</div>
	<div class="mdl-cell--1-col"></div>
	<div class="mdl-cell mdl-cell--10-col">
		<h1>Editar esta Canción</h1>

		<%= render 'form' %>
	</div>
</div>
